#ip-subscription-usage-summary-chart {
	margin: 20px;
}

#ip-subscription-chart-container {
	height: 320px;
}

#ip-subscription-summary-select select, #ip-subscription-summary-select div {
	display: inline;
}

#ip-subscription-content-loader {
	margin: 0 10px;
}

#ip-subscription-content-loader img.disable {
	visibility: hidden;
}

.w50 {
	width: 50%;
}

.w95 {
	width: 95%;
}

.w100 {
	width: 100%;
}